<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="com.tv.unitplug"
    version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>UnitInit</name>
    <js-module name="UnitInit" src="www/UnitInit.js">
        <clobbers target="window.UnitInit" />
    </js-module>

    <dependency id="cordova-plugin-extension"/>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="UnitInit">
                <param name="android-package" value="com.tv.unitplug.UnitInit" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/UnitInit.java" target-dir="src/com/tv/unitplug" />
        <framework src="com.android.support:appcompat-v7:28.0.0"/>
        <framework src="com.unity3d.ads:unity-ads:2.2.0" />
        <framework src="com.google.android.gms:play-services-ads:17.1.1" />
        <framework src="com.google.ads.mediation:unity:2.2.0.0" />
    </platform>
</plugin>